
@{
    Layout = null;
}

<form asp-controller="Account" asp-action="Login" method="post">
    <label for="adminName">Login Method</label>
    <div>
        <label for="adminName">Kullanıcı Adı:</label>
        <input type="text" id="adminName" name="adminName" />
    </div>
    <div>
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="Password" />
    </div>
    <div>
        <button type="submit">Giriş Yap</button>
    </div>
</form>
