@using EntityLayer.Concrete
@model List<About>

<div class="container-xxl py-5">
   
        
    
    <div class="container">
       
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="~/Template/img/about-1.jpg" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="~/Template/img/about-2.jpg" alt="" style="margin-top: -25%;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                @foreach (var item in Model)
                {
                <p class="d-inline-block border rounded-pill py-1 px-4">@item.Title</p>
               
                    <p>@item.Content</p>
                <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos.</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>KALİTELİ</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>GÜVENİLİR</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>PROFESYONEL</p>
                }
            </div>
        </div>
        }
    </div>
   
</div>