@{
    Layout = null;

}
<form asp-controller="Register" asp-action="Index" method="post">
    <div>
        <label for="adminName">Kullanıcı Adı:</label>
        <input type="text" id="adminName" name="adminName" />
    </div>
    <div>
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="Password" />
    </div>
    <div>
        <button type="submit">Kayıt Ol</button>
    </div>
</form>


